[submodule "MititTgBot"]
	path = MititTgBot
	url = ../MititTgBot.git
[submodule "ConstructorTgBotFront"]
	path = ConstructorTgBotFront
	url = ../ConstructorTgBotFront.git
[submodule "ConstructorTgBotBackend"]
	path = ConstructorTgBotBackend
	url = ../ConstructorTgBotBackend.git
